/*tyshinkle.blog*/

:root {
    --safe-top: env(safe-area-inset-top);
    --safe-right: env(safe-area-inset-right);
    --safe-bottom: env(safe-area-inset-bottom);
    --safe-left: env(safe-area-inset-left);
    --lite-font: #121212;
    --dark-font: #eee;
    --lite-background: #eee;
    --dark-background: #121212;
}

*, 
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    color: var(--lite-font);
    background-color: var(--lite-background);
}

body {
    padding: --safe-top --safe-right --safe-bottom --safe-left;
    max-width: 60em;
    margin: auto;
    font-family: monospace;
}

nav {
    margin: 0px 10px 50px 10px;
    padding: 25px 5px;
    position: relative;
    border-bottom: 2px solid var(--lite-font);
    font-size: 1.25em;
    font-weight: bold;
}

nav > div {
    position: absolute;
    top: 50%; 
    right: 0px;
    transform: translate3d(0, -50%, 0);
}

#site-title {
    width: fit-content;
    cursor: pointer;
}

#site-open-button {
    cursor: pointer;
}

.post{
    position: relative;
    margin: 0px 10px 150px 10px;
    padding: 0px 5px;
    overflow:hidden;
    transition: max-height 0.5s;
}

.post-title-card {
    position: relative;
}

.post-title {
    font-size: 1.25em;
    font-weight: bold;
    max-width: 90%;
}

.post-tags {
    max-width: 90%;
    margin: 25px 0px;
    font-style: italic;
}

.post-tag {
    margin-right:15px;
    padding-top:5px;
    padding-bottom:5px;
}

.post-tag:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--lite-font);
}

.post-button {
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
}

.toggleButton {
    padding: 10px;
}

.post-content {
    padding-top: 50px;
}

.post-content > * {
    padding-top: 15px;
}

.post-content > h3 {
    font-size: 1.025em;
}

.post-content > p {
    line-height: 1.5em;
}