/*tyshinkle.blog*/

:root {
    --safe-top: env(safe-area-inset-top);
    --safe-right: env(safe-area-inset-right);
    --safe-bottom: env(safe-area-inset-bottom);
    --safe-left: env(safe-area-inset-left);
    --font: black;
    --background:white;

}

*, 
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    color: var(--font);
    background-color: var(--background);
}

body {
    padding: --safe-top --safe-right --safe-bottom --safe-left;
    max-width: 60em;
    margin: auto;
    font-family: monospace;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    position: relative;
    padding: 50px 15px 25px 15px;
    font-size: 1.25rem;
    font-weight: bold;
}

#nav-bar {
    position: relative;
}

#nav-button {
    position: absolute;
    top: 50%;
    right: 0px;
    padding: 5px 10px;
    border-radius: 5px;
    transform: translate3d(0, -50%, 0);
    cursor: pointer;
}

#menu {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

#menu-content > * {
    min-width: 100%;
    padding: 25px 15px 25px 15px;
    font-size: 1rem;
    font-family: monospace;
}

#search-bar {
    width: 100%;
    max-width: 25em;
    outline: none;
    appearance: none;
    border: none;
}

#filter-bar {
    cursor: pointer;
    appearance: none;
    outline: none;
}

#site-title {
    position: relative;
    width: fit-content;
    cursor: pointer;
}

main {
    padding: 25px 0px;
}

.post { 
    margin: 0px 15px 45px 15px;
    position: relative;
    overflow:hidden;
    transition: max-height 0.5s;
    cursor: pointer;
}

.post-title {
    padding-top: 0px;
    font-size: 1.25rem;
    font-weight: bold;
}

.post-tags {
    padding: 15px 0px;
    font-style: italic;
}

.post-tag {
    font-size: 1rem;
    margin-right:25px;
    padding: 5px 0px;
}

.post-tag:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--font);
}

.post-date {
    font-size: 1rem;
    padding-bottom:30px;
}

.post-content {
    padding: 15px 0px;
}

.post-content > h3 {
    padding-bottom: 15px;
    font-size: 1.025rem;
}

.post-content > p {
    font-size: 1rem;
    line-height: 1.5em;
}

.button {
    box-shadow: 2px 2px 2px black,
                0px 0px 2px black;
}

.button-clicked {
    box-shadow: inset 2px 2px 2px black,
                0px 0px 2px black;
}